.tags {

  &__list {
    display:flex;
    margin: 0;
    padding: 0;

    &-item {
      display: flex;
      align-items: center;
      padding: 0.10rem 0.37rem;
      margin: 0rem;
      margin-right: 0.24rem;
      background-color: #6290C8;// #1D3461 #1F487E #376996 #6290C8 #829CBC #c3c4c5
      color: white ; // #67717D white
      font-size: 13px;
      border-radius: 4px;
      // border: 1px solid;
      // border-color: #c3c4c5;

      &-icon {
        display:inline-block;

        svg {
          width: 18px;
          margin: 0;
          filter: invert(0.99);
          // display: inline;
          margin-top: 0px;
          margin-bottom: -5px;
          margin-right: 3px;
        }
      }
    }
  }
}

.hashtag {
  color: #67717D;
}
