.blogpostsList {
  max-width: 750px;
  margin: 0 auto;
}

.blogpost {
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
  padding: 0px 20px;
  margin: 20px 0px;
}
