.layout {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 1.0875rem 1.45rem;
}


/* Small and very small screens */
@media all and (max-width: 460px){
  .layout {
    width: 100%;
    padding: 0;
  }
}

/* Medium screens */
@media all and (max-width: 500px) {
}
